<div class="container my-5">
  <h2>Agregar Nueva Película</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label>Título</label>
      <input class="form-control" [(ngModel)]="movie.title" name="title" required>
    </div>
    <div class="mb-3">
      <label>Año</label>
      <input type="number" class="form-control" [(ngModel)]="movie.year" name="year" required>
    </div>
    <div class="mb-3">
      <label>Sinopsis</label>
      <textarea class="form-control" [(ngModel)]="movie.synopsis" name="synopsis"></textarea>
    </div>
    <div class="mb-3">
      <label>Cover (nombre archivo en storage/covers)</label>
      <input class="form-control" [(ngModel)]="movie.cover" name="cover">
    </div>
    <button class="btn btn-success">Guardar</button>
  </form>
</div>
