
<div class="container my-4">
    <!-- Header -->
    <header class="d-flex align-items-center mb-4">
        <img src="././assets/img/logoMarvel.png" alt="logo" width="100" class="me-3">
        <h1 class="m-0">Catálogo de Películas</h1>
    </header>

    <!-- Descripción -->
    <div class="mb-4">
        <p>
        Este catálogo presenta una recopilación de las películas más destacadas del Universo Cinematográfico de Marvel (MCU).
        Aquí podrás encontrar información detallada de cada película, su año de estreno, una breve sinopsis y su portada oficial.
        </p>
        <p>
        La intención de este catálogo es ofrecer una experiencia visual y sencilla para consultar el orden y las características
        de cada producción, desde “Iron Man” (2008) hasta las entregas más recientes de los Vengadores.
        </p>

    </div>
    <!-- Footer -->
    <footer class="mt-5 p-4 bg-light rounded shadow-sm text-center">
        <p><strong>Materia:</strong> Conceptualización de entornos de desarrollo de aplicaciones y servicios</p>
        <p><strong>Alumno:</strong> Julián Andrés Anguiano Aranda</p>
        <p><strong>Código:</strong> 218704064</p>
        <p>
        <strong>Correo:</strong>
        <a [href]="'mailto:' + correo"> {{ correo }}</a>
        </p>
    </footer>

</div>